* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* FOND */
body {
    min-height: 100vh;
    background: #121212; /* fond sombre gaming */
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}